
        <form [formGroup]='loginForm' class="login-form" (ngSubmit)='loginSubmit()'>
            <label class="error-message">{{ submitMessage }}</label>
            <mat-form-field>
                     <input type="text" name='username' matInput placeholder="Username" class="username" formControlName='username'>                    
            </mat-form-field>            
            <mat-form-field>
                    <input type="password" name='password' matInput placeholder="Password" class="password" formControlName='password'>              
            </mat-form-field>
            <button class="login" type="submit" mat-button>Submit</button>
          </form>
      